/*************************************/
/*=========     GLOBAL     =========*/
/***********************************/

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: 	#D0D3D4;
	font-family: $third-font;

}


.active{
	color:#54585A;
}

.titulointegrantes{
	font-family:$third-font;
	text-align: center;
	font-style: bold;
	color:#333F48;

}

.img-thumbnail{
	opacity: 1; 
	filter: alpha(opacity=100);
	max-width: 180px;
	max-height: 180px;
	border: 1px solid #B2B4B2;
}

.col-xs-4 h4{
	margin-left: -10%;
	font-weight: 300;
	font-size: 14px;
	color: #707372;
}

iframe{
	max-width:300px;
	max-height:300px;
	border: 5px solid black;
}
#quehacemos{
	margin-left: 100px;
	margin-right: 100px;
}


/*************************************/
/*========= PUBLICACIONES ==========*/
/***********************************/
#headingOne, #headingTwo, #headingThree{
	background-color:#B2B4B2;
	color:white;
	border: 1px solid grey;
}



.list-group-item{
	transition: 600ms;
	font-size:16px;

	&:hover{
		p{
			font-style: bold;
			font-size: 16px;
			color: #B2B4B2;
		}
	}

}

.panel-heading{
	transition: 600ms;
	
	&:active{
		.panel-title{
			p{
			color: grey;
			}
		}
	}
}
/*************************************/
/*=========     GLOBAL     =========*/
/***********************************/


/*************************************/
/*=========     HEADER     =========*/
/***********************************/


/*************************************/
/*=========     lineas     =========*/
/***********************************/
#lineas{
	// background: url(../images/ffybib.gif) no-repeat center center;
	// background-size: cover;	
	padding: 50px 0 50px;
	font-family: $main-font;


	h2{
		// color: #fff;
		font-weight: 700;
		font-size:35px;
		line-height: 50px;
		font-family: $third-font;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	.btn-block {
		margin-top: 20px !important;
		font-family: $third-font;
		background-color:#B2B4B2;
		border: 1px solid grey;
	}

	#demo, #demo1, #demo3 {
		margin: 20px 0px;
		font-size: 14px;
		font-family: $third-font;
		background-color: white;
	}	
}

/***************************************/
/*=========     SERVICES     =========*/
/*************************************/

/****************************************/
/*=========     PORTFOLIO     =========*/
/**************************************/

/**************************************/
/*=========     CONTACT     =========*/
/************************************/
#contact{
	background: url(../images/map.png) no-repeat center center;
	background-size: cover;	
	padding: 75px 0 50px;
	font-family: $third-font;

	h1{
		// color: #fff;
		font-weight: 700;
		font-size: 50px;
		line-height: 50px;
		// font-family: $third-font;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	p{
		// font-family: $third-font;
		font-weight: 400;
		font-size: 20px;	
	}

	textarea{
		margin-top:20px;
	}

	.form-control{
		height: 70px;
	}

	#texto{
		height: 280px;
	}

	.btn-lg{
		background-color: grey ;
		border: none;
		color: #fff !important;
		font-size: 18px;
		font-family: $third-font;
		margin-top: 30px;
	}

	
}


/************************************/
/*=========     FOOTER     =========*/
/************************************/
/************************************/
/*=========     FOOTER     =========*/
/************************************/
#footer{
	height: 500px;
	max-width: 100%;
	padding: 50px;
	font-family: $third-font;

	ul, ol{
	list-style: none; /* elimina la viñeta */
	text-align: left;
	margin: 0;
	padding: 0;
	}

	.container{
		// border: dotted 1px red;
	}

	#googleMap{
		height: 280px;
		width: 280px;
		margin: 0 auto 0 auto;

		
	}
}
